<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<% include("/common/include.html"){} %>
<link href="${sitePath}styles/main.css" rel="stylesheet" type="text/css">
<link href="${sitePath}styles/topic.css" rel="stylesheet" type="text/css">
<script type="text/javascript" charset="utf-8"
	src="${sitePath}js/site/regular.js"></script>
<title>最美 - <% if(isNotEmpty(topic.title)){%>
	${topic.title} <%}else{%>默认主题 <%}%>
</title>

</head>
<body>
	<% include("/common/header.html"){} %>
	<div id="topic" class="t_content">
		<% include("/common/share.html"){} %>
		<div id="topic_content">
			<div class="author-panel">
				<a href="${sitePath}u/${account}">
				<img src="${headUrl}${topic.createBy}.jpg">
				</a>
			</div>
			<div class="author-panel">
				<div style="padding: 0px 5px">
					<% if(user.sex==0){%> <span class="man_name">${user.nickname}</span><%}
					else {%> <span class="woman_name">
						${user.nickname}</span> <%}%> <% if(isNotEmpty(user.vip) &&
					user.vip>=1){ %> <span class="vip_t">${user.vip}</span>
					<% } %>
					<div style="display: inline-block; padding-left: 5px">
						<% if(isNotEmpty(user.level)){ 
						for(var i=0;i<user.level;i++) 
						{%> <span class="star_s"></span>
						<% }}%> 
					</div>
				</div>
			</div>
			<div class="author-panel">
				<div style="padding: 0px 2px; text-align: center; position: relative;">
					<% if(isNotEmpty(user.proviceName) &&
					isNotEmpty(user.cityName)) { %> <span class="address">${user.proviceName}
						${user.cityName}</span> <% } %> <span class="head-topic">${user.topicCount!0}
						主题 ${user.entryCount!0} 单片</span>
				</div>
				<% if(isNotEmpty(attention.isAttention) &&
				attention.isAttention){ %>
				<div id="attention-panel">
					<a data-id="${topic.createBy}" class="attention_btn">已关注</a>
					<% if(isowner=="no"){ %> 
					<a onclick="showEmail('${topic.createBy}')" class="letter_btn">私信</a> 
						<%}%>
				</div>
				<% } else{
				 if(isowner=="no"){ %>
				<div id="attention-panel">
					<a data-id="${topic.createBy}" onclick="attention(this)" class="attention_btn">关注</a> 
					<a onclick="showEmail('${topic.createBy}')" class="letter_btn">私信</a>
				</div>
				<% } 
				}%>
			</div>
		</div>
	</div>
	<div id="main" style="width: 1300px; margin: 0 auto;">
		<div class="title_background"  style="width: 100%">
			<div id="topic_title" class="t_title">
				<% if(isNotEmpty(topic.title)){%>
				<div class="title">
					<h1 class="topic_title">${topic.title}</h1>
				</div>
				<%}%>
				<div class="label">
					<div class="tags">
						<span>${topic.createTimeString}</span> <span
							class="star" title="积分">${topic.grade!0}</span> <span
							class="collect" title="收藏">${topic.collect!0}</span>
						<span class="transpond" title="分享">${topic.share!0}</span>
						<a class="type"><em>${topic.typeName!""}</em></a> <%
						if(isNotEmpty(topic.tagNames)){ for(var name in
						topic.tagNames){%> <a class="i-label" href="#"><em>${name}</em></a>
						<%}}%>
					</div>
				</div>
			</div>
			<div style="padding: 10px 15px; text-indent:2em;margin: 0 auto">
				 ${topic.desc}
			</div>
		</div>
		 <div class="wrapper">
    <div class="superbox">
       <% for(item in entrys){%>
        <a class="superbox-list superbox-img" data-e-id="${item.id}" data-img="${imgUrl}${item.id}.jpg?t=${item.currVersion}" style="background-image: url(${imgUrl}${item.id}.jpg);"></a>
     <%}%>
     <div id="superbox-show" class="superbox-show" style="display: none;">
	     <a class="superbox-close"></a>
	     <a id="zoom" class="superbox-zoom"></a>
	     <div id="topbox" style="padding: 5px;margin: 0 auto">
	     </div>
     </div>
    </div>
</div>
	</div>
	<% include("/common/footer.html"){} %>
	
</body>
<input id="curent_entry_id" type="hidden">
<input id="topic_id" type="hidden" value="${topic.id}">
<input id="focus_comment" type="hidden">
<input id="focus_user" type="hidden">
<div id="speak">
	<a class="closeSpeak" onclick="closeComment()"></a>
	<div id="star"
		style="display: flex; align-items: center; justify-content: center">
		<span
			style="display: inline-block; line-height: 25px; height: 30px; color: #fff">喜欢这个主题吗
			画上你的星星吧</span> <span
			style="margin-left: 5px; display: inline-block; height: 30px;">
			<% if(accountgrade==0){ for(var i=1;i<=5;i++){%> <a
			data-id="${i}"
			style="display: inline-block; height: 30px"
			onclick="selectStar(this)" href="javascript:;"> <img
				src="${sitePath}images/ico/star_empty.png">
		</a> <%}}else{ var grade=accountgrade/20; var
			difference=(100-accountgrade)/20; for (var
			i=1;i<=grade;i++){ %> <img
			src="${sitePath}images/ico/star.png"> <%} for(var
			i=1;i<=difference;i++){%> <img
			src="${sitePath}images/ico/star_empty.png"> <%}}%>
		</span>
	</div>
	<div style="height: 80px; width: 600px; margin: 0 auto;">
		<div style="display: flex;align-items: center; justify-content: center">
			<textarea id="speak-content" maxlength="200"
				style="resize: none;" placeholder=" 说说你的神评论..."></textarea>
			<a class="btn" onclick="submitComment()"></a>
		</div>
	</div>
</div>
<script>
   var entryNum;
	$().ready(function() {
		 if(window.screen.width>1500){
			 $("#main").css("width","1460px"); 
			 entryNum=9;
		 } 
		 if(window.screen.width<1500){
			 $("#main").css("width","1300px");
			 entryNum=8;
		 } 
		 $(".attention_btn").hover(function(){
	    	  if($(this).text()=="已关注"){
	    		  $(this).text("取消关注");
	    		  $(this).attr("onclick","cancelAttention(this);")
	    	  }
		    },function(){
		    	 if($(this).text()=="取消关注"){
		    		  $(this).text("已关注");
		    		  $(this).attr("onclick","attention(this);")
		    	  } 
		    });
	});
	 $(function() {
			var entryIds=getDataIds();
			var imgs=$.find(".superbox-list");
			var totalIndex=imgs.length;
			var curUrl="";
			var showimg=function(d){
				 $(".superbox-list").removeClass("currect");
				 $(d).addClass("currect");
				 var id=$(d).data("eId");
				 var imgUrl = $(d).data('img');
				 if(imgUrl!=curUrl){
					 curUrl=imgUrl;
					   $.ajax({
				     url : "${sitePath}entry/photo/"+id,
				     dataType :"html",
				     async:false,
				     data:{},
				     method : "post",
				     beforeSend:function(XMLHttpRequest){
			        },
				     success : function(html) {
				    	 $("#topbox").html(html);
				    
				     },error:function(XMLHttpRequest, textStatus, errorThrown){
				     }
				 });
					 var c,f;
					    f=Math.ceil(($(d).index())/entryNum);//向上取整
						if((f*entryNum)<=totalIndex){
							c=imgs[(f*entryNum-1)]; 
						}else{
							c=imgs[(totalIndex-1)];
						}
						$("#superbox-show").insertAfter(c);
						$("#superbox-show").css('display', 'block');
					    
						$("html,body").stop(true);
						$("html,body").animate({scrollTop: $("#superbox-show").offset().top-50}, 500);
				 }else{
					 curUrl="";
					 $('#superbox-show').slideUp(300);
				 }
				 $(".superbox-close").on("click",function() {
					 curUrl="";
					 $('#superbox-show').slideUp(300);
					});
				 $("#zoom").unbind("click");
				 $("#zoom").on("click",function() {
					 showFullImgBox(id);
					 return false;
					});
				 $("#current-full-img").unbind("click");
				 $("#current-full-img").on("click",function(e) {
					    curUrl="";
					    if($(d).index()<totalIndex-1){
					    var next=$("a[data-e-id='"+entryIds[$(d).index()+1]+"']");
					    showimg($(next));
					    }
					    return false;
				 });
				 return false;
			}
			
			$(".superbox-list").on("click",function(e){
				     var d=e.target;
				     showimg(d);
				     return false;
			 })
			 //单片显示
			 <% if (isNotEmpty(entryid)){ %>
			 var d=$("a[data-e-id='${entryid}']");
			  showimg(d);
			 <% } %>
		  });
	 
	 var getDataIds=function(){
		 var ids=new Array();
		 $(".superbox-list").each(function(){
			 ids.push($(this).data("eId").toString());
		 })
		 return ids;
	 }
	 
	var closeComment = function() {
		$("#speak").animate({
			opacity : '0'
		}, '5000', function() {
			$("#speak").css("display", "none");
			$("#speak-content").html("");
		});
		$("#curent_entry_id").val(null);
	}
	var showSay = function(a) {
		$("#speak-content").html("");
		$("#curent_entry_id").val($(a).data("id"));
		if ($("#speak").css("display") == "none") {
			$("#speak").css("display", "block");
			$("#speak").animate({
				opacity : '1'
			}, '5000');
		}
	}
	var showComment = function(a) {
	//	closeComment();
		var entryId = $(a).data("id");
	 
		 
		if ($("#comment").find(".comment_panel").length > 0) {
			$("#comment").find(".comment_panel").remove();
			$(a).removeClass("current_comment_logo");
			return false;
		}
		 
		$(a).addClass("current_comment_logo");  
		$("#curent_entry_id").val(entryId);
		refreshComment(entryId);
		/* $(".c_nav a").removeClass("focus"); */
		$("#focus_comment").val("");
		$("#focus_user").val("");
	}
	
	var refreshComment = function(entryId) {

			$.ajax({
				url : "${sitePath}entry/" + entryId,
				dataType : "html",
				async : false,
				data : {},
				method : "post",
				beforeSend : function(XMLHttpRequest) {
				},
				success : function(html) {
					$("#comment").html(html);
				},
				error:function(XMLHttpRequest, textStatus, errorThrown){
			    	 if(XMLHttpRequest.status==500){
		 	    		 layer.msg(XMLHttpRequest.responseText);
		 	    	 }
		 	     }
			});
	}
	  function removeComment(a){
		  if (checklogin() == false) {
				return false;
			}
		  var id_ = $(a).data("id");
		  layer.confirm('确认删除这个评论？', {
			  btn: ['确定','取消'] //按钮
			}, function(index){
				$.ajax({
					url : "${sitePath}comment/remove/" + id_,
					dataType : "json",
					async : false,
					data : {},
					method : "post",
					beforeSend : function(XMLHttpRequest) {
					},
					success : function(json) {
						if(json.isPass=="ok"){
							refreshComment(json.entry);
							 $("#l_" + json.entry).html(json.cnum);
						}else{
							layer.msg(json.msg);
						}
					},
					error:function(XMLHttpRequest, textStatus, errorThrown){
				    	 if(XMLHttpRequest.status==500){
			 	    		 layer.msg(XMLHttpRequest.responseText);
			 	    	 }
			 	     }
				});
				layer.close(index);
			}, function(){
			   
			});
		  
	  }
</script>
<!--entry  -->
<script type="text/javascript">
	var focusU = function(a) {
		$("#speak-content").attr("placeholder", "@" + $(a).data("author"));
		$("#speak-content").focus();
		$("#focus_comment").val($(a).data("id"));
		$("#focus_user").val($(a).data("user"));
		$(".c_nav a").removeClass("focus");
		$(a).addClass("focus");
	}
	var selectStar = function(a) {
		var n = $(a).data("id");
		$("#star a")
				.each(
						function(index, element) {
							if (index < n) {
								$(element)
										.html(
												"<img src=\"${sitePath}images/ico/star.png\">");
								$(element).attr("class", 'active');
							} else {
								$(element)
										.html(
												"<img src=\"${sitePath}images/ico/star_empty.png\">");
								$(element).attr("class", '');
							}
						});

	}
</script>
<script type="text/javascript">
	var page = 1;
	var totalPageNum = 1;
	$(document).ready(function() {
		String.prototype.startWith = function(str) {
			var reg = new RegExp("^" + str);
			return reg.test(this);
		}

	});
	var commentPage = function(entry_id_, page) {
		$.ajax({
			url : "${sitePath}entry/clist/" + entry_id_ + "/" + page,
			dataType : "html",
			async : false,
			data : {},
			method : "post",
			beforeSend : function(XMLHttpRequest) {
			},
			success : function(data) {
					$("#more_page").remove();
					$("#c_list_" + entry_id_).append(data); 
			},error:function(XMLHttpRequest, textStatus, errorThrown){
		    	 if(XMLHttpRequest.status==500){
	 	    		 layer.msg(XMLHttpRequest.responseText);
	 	    	 }
	 	     }
		});
	}

	var submitComment = function() {
		var entry = $("#curent_entry_id").val();
		if (entry.length == 0) {
			layer.msg("选择你要评论的单片哦!");
			return false;
		}
		if (checklogin() == false) {
			return false;
		}
		var c_ = $("#speak-content").val();
		if (c_.length == 0) {
			layer.msg("总要说点什么哦!");
			$("#speak-content").focus();
			return false;
		}
		if (c_.length > 200) {
			layer.msg("desc", "发表字数只能在200字内哦!");
			return false;
		}
		c_ = stripScript(c_);
		c_ = replaceSpacing(c_);
		c_ = replaceRandN(c_);
		var focusId = $("#focus_comment").val();
		if (focusId.length > 0) { //回复
			var u_;
			u_ = $("#focus_user").val();
			$.ajax({
				url : "${sitePath}comment/submitreply?tocken="
						+ getPreventReplyTocken(),
				dataType : "html",
				async : true,
				data : {
					foucsuser : u_,
					c : c_,
					id : focusId
				},
				method : "post",
				beforeSend : function(XMLHttpRequest) {
				},
				success : function(data) {
					var lis=$("#c_list_"+entry).find("li[id='item_" + focusId+"']");
					$.each(lis,function(i,v){
						$(v).append(data);
					});
					$("#speak-content").val("");
				},error:function(XMLHttpRequest, textStatus, errorThrown){
			    	 if(XMLHttpRequest.status==500){
		 	    		 layer.msg(XMLHttpRequest.responseText);
		 	    	 }
		 	     }
			});
		} else {//评论
			var grade = 0;
			$("#star .active").each(function() {
				grade = grade + 20;
			});
			$.ajax({
				url : "${sitePath}entry/submitcomment?tocken="
						+ getPreventReplyTocken(),
				dataType : "json",
				async : true,
				data : {
					c : c_,
					id : entry,
					g : grade
				},
				method : "post",
				beforeSend : function(XMLHttpRequest) {
				},
				success : function(json) {
					if (json.isPass == "ok") {
						refreshComment(entry);
						$("#l_" + entry).html(json.cnum);
						if (grade > 0) {
							$("#star a").each(function(index, element) {
								$(element).removeAttr("onclick");
							});
						}
						refreshCommentNum(entry);
						$("#speak-content").val("");
					} else {
						refreshComment(entry);
					}

				},error:function(XMLHttpRequest, textStatus, errorThrown){
			    	 if(XMLHttpRequest.status==500){
		 	    		 layer.msg(XMLHttpRequest.responseText);
		 	    	 }
		 	     }
			});
		}
		return false;
	}
	var refreshCommentNum = function(entry_id_) {
		$.ajax({
			url : "${sitePath}entry/getnum",
			dataType : "json",
			async : true,
			data : {
				id : entry_id_
			},
			method : "post",
			beforeSend : function(XMLHttpRequest) {
			},
			success : function(data) {
				$("#l_" + entry_id_).html(data.cnum);
			},error:function(XMLHttpRequest, textStatus, errorThrown){
		    	 if(XMLHttpRequest.status==500){
	 	    		 layer.msg(XMLHttpRequest.responseText);
	 	    	 }
	 	     }
		});

	}
	var praiseComment = function(a) {
		if (checklogin() == false) {
			return false;
		}
		var id_ = $(a).data("id");
		$.ajax({
			url : "${sitePath}comment/praise",
			dataType : "json",
			async : true,
			data : {
				id : id_
			},
			method : "post",
			beforeSend : function(XMLHttpRequest) {
			},
			success : function(json) {
				$(a).prev().html(json.data);
			},error:function(XMLHttpRequest, textStatus, errorThrown){
		    	 if(XMLHttpRequest.status==500){
	 	    		 layer.msg(XMLHttpRequest.responseText);
	 	    	 }
	 	     }
		});
	}
</script>
</html>