<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<% include("/common/include.html"){} %>
<script type="text/javascript" charset="utf-8" src="${sitePath}js/site/user/dynamic.js"></script>
<link href="${sitePath}styles/main.css" rel="stylesheet" type="text/css">
<link href="${sitePath}styles/userstyle.css" rel="stylesheet" type="text/css">

<title>${user.nickname}的最美-动态</title>
</head>
<body>
<%
include("/common/header.html"){}
%>
<div class="top_panel">
<%
include("common/top.html"){}
%>
</div>
<div id="main">
<% if(isEmpty(topics)){%>
<span class="dynamic_null">太懒还没有留下足迹</span>
<%}else{%>
<div id="dy_container">
<%
 var prev_t="";
 for(topic in topics){
  %>
   <div class="item">
   <% if(topic.createTimeString!=prev_t){%>
      <div class="time">
	    ${topic.createTimeString}
	   </div>
   <%}
    prev_t=topic.createTimeString;
    %>
     <input class="prev_date" type="hidden" value=${prev_t}>
 	 <div class="item_content">
		 <div class="item_title">
		 [主题]<a href="${sitePath}topic/${topic.classify}/${topic.id}.html" target="_blank" > ${topic.title}</a>
		 </div>
		  <div  class="item_desc">
		    ${topic.desc}​​​​
		  </div>
		  <div  class="item_img">
		   <% for(entry in topic.entrys) {%>
		     <a class="item_classify" href="${sitePath}topic/${topic.classify}/${topic.id}.html?e=${entry.id}" target="_blank">
		       <div  class="b_img" style="background-image: url(${imgUrl}${entry.id}.jpg?t=${entry.currVersion});"></div>
		      </a>
		   <%}%>
		  </div>
		  <div class="item_tags">
		 	<span> 共采集 ${topic.entryNum} 张单张  于  ${topic.createTime,dateFormat="HH点mm分ss秒"}</span>
		 	<span class="star"  title="评分">${topic.gradeString}</span>
			<span class="transpond"  title="分享">${topic.shareString}</span>
		  </div>
  	</div>
 </div>
 <%}%>
 </div>
  <%}%>
 </div>
  <%
include("/common/footer.html"){}
%>
</body>
<script type="text/javascript">
var userid="${user.id}";
var range = 10;
var maxnum = Math.ceil(${total}/range);
</script>

</html>