<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<script type="text/javascript" charset="utf-8" src="${sitePath}js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="${sitePath}js/jquery.md5.js"></script>
<script type="text/javascript" charset="utf-8" src="${sitePath}js/site/common.js"></script>
<script type="text/javascript" src="${sitePath}js/layui/layui.js"></script>
<script src="${sitePath}js/ckeditor/ckeditor.js"></script> 
<script type="text/javascript" src="${sitePath}js/site/edit/topic_edit.js"></script>
<link href="${sitePath}styles/main.css" rel="stylesheet" type="text/css">
<link href="${sitePath}js/layui/css/layui.css" rel="stylesheet" type="text/css">
<link href="${sitePath}styles/edit.css" rel="stylesheet" type="text/css">
<title>最美 - <% if(isNotEmpty(topic.title)){%>
   ${topic.title} <%}else{%>主题创建
   <%}%>
</title>
</head>
<body>
<%
include("/common/header.html"){}
%>
<div id="topic" class="t_content">
<div class="layui-form">
  <div class="layui-form-item">
    <label class="layui-form-label">标题<span>*</span></label>
    <div class="layui-input-block">
      <input id="topic-name"  type="text" style="width: 850px"  lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input"
      <% if(isNotEmpty(topic)){%>
		value=${topic.title}
		<%}%>
		>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">描述</label>
    <div class="layui-input-block">
    <textarea type="text/plain" id="topic-desc"></textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">分类<span>*</span></label>
    <div id="topic_type" class="layui-input-block">
       <% for(var item in topictypes) {
		    if(isNotEmpty(topic) && item.dictitemName==topic.type){
		  %>
		   <a  data-id="${item.dictitemName}" class="current">${item.dictitemValue}</a> 
		   <% } else {%>
		  <a  data-id="${item.dictitemName}" class="type">${item.dictitemValue}</a> 
		 <% }
		   } %>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">标签<span>*</span></label>
      <div id="topic_tags" class="layui-input-block">
		  <% for(var item in topictags) {
		    if(item.dictitemName==topic.tags){
		    %>
		    <a  data-id="${item.dictitemName}" class="current">${item.dictitemValue}</a> 
		      <% } else { %>
		     <a  data-id="${item.dictitemName}" class="tag">${item.dictitemValue}</a> 
		      <% }
		   } %>
        </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">显示模式<span>*</span></label>
    <div id="topic_type" class="layui-input-block">
       <input type="radio"  lay-filter="showmodel" name="model" value="article" title="图文" <% if(topic.classify=="article") { %> checked <% } %>>
       <input type="radio"  lay-filter="showmodel" name="model"  value="photo" title="相册" <% if(topic.classify=="photo") { %> checked <% } %>>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">更新<span>*</span></label>
    <div class="layui-input-block">
     <button id="create_btn" class="layui-btn layui-btn-normal"  onclick="updateTopic()">更新主题</button>
     <button id="del_btn" class="layui-btn layui-btn-danger"  onclick="removeTopic()">删除主题</button>
     <lable id="msg" style="padding: 5px 20px;color:#CD0000"></lable>
    </div>
  </div>
  <div class="layui-form-item">
      <label class="layui-form-label">图文</label>
    <div class="layui-input-block">
     <div id="pic-panel" class="superbox">
       <div id="topic-cover" class="cover"  style="background-image:url(${imgUrl}${topic.id}.jpg?t=${topic.currVersion})">
         <% if (isNotEmpty(topic)){ %>
	        <a id="topic-cover-btn" data-id="${topic.id}" class="topic_edit_cover"  onclick="editTopic()">
	         <span id="topic-cover-title" class="edit_cover">编辑封面</span>
	       </a>
	        <%}%>
       </div>
       <div id="entry-panel" class="cover b">
        <a class="topic_cover_add" onclick="addEntry()">
         <span style="font-size: 14px;font-weight: 600;display: inline-block;">创建图文</span>
       </a>
       </div>
        <% if (isNotEmpty(entrys))
          {for(item in entrys){%>
       <div id="entry-${item.id}" class="cover" style="background-image:url(${imgUrl}${item.id}.jpg?t=${item.currVersion})" >
        <a class="topic_edit" data-id="${item.id}" onclick="editEntry(this)">
         <span style="font-size: 14px;font-weight: 600;display: inline-block;">编辑图文</span>
       </a>
       </div>
      <% }
     } %>
    </div>
    </div>
  </div>
     <div class="layui-form-item">
      <label class="layui-form-label">公开</label>
      <div class="layui-input-block" style="display: flex;align-items:center">
	     <input  id="isPublic" type="checkbox" <% if(topic.status==1) { %> checked <% } %>  lay-filter="public"  lay-skin="switch"  lay-text="ON|OFF">
      </div>
    </div>
     <div class="layui-form-item">
      <label class="layui-form-label">置顶</label>
      <div class="layui-input-block" style="display: flex;align-items:center">
	     <input id="isTop"  type="checkbox"  <% if(topic.isTop==1) { %> checked <% } %> lay-skin="switch" lay-filter="istop" lay-text="ON|OFF">
      </div>
    </div>
      <div class="layui-form-item">
      <label class="layui-form-label">轮播</label>
      <div class="layui-input-block" style="display: flex;align-items:center">
	     <input id="isCarousel"  type="checkbox" <% if(topic.isCarousel==1) { %> checked <% } %>  lay-skin="switch" lay-filter="carusel" lay-text="ON|OFF">
      </div>
    </div>
  </div>
 </div>
 
<input type="hidden" id="topic-id" value="${topic.id}">
<%
include("/common/footer.html"){}
%>
</body>
<div id="load_desc" style="display: none;">${topic.desc}</div>
<script>
var  form,smodel="${topic.classify}";
$().ready(function(){
	editor=CKEDITOR.replace('topic-desc');
	  <% if(isNotEmpty(topic)){%>
	  editor.setData($("#load_desc").html());
   <% } %>
})
</script>
 
</html>