<!DOCTYPE html>
<html>
<div style="padding:5px 10px">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
<blockquote class="layui-elem-quote layui-quote-nm block">
 <div><span style="color: #666">首页轮播</span></div>
 <button type="button" class="layui-btn" id="btn1">
  <i class="layui-icon">&#xe67c;</i>上传图片
</button>
<div>
<table class="layui-table" lay-skin="line">
<colgroup>
<col width="">
<col width="100">
<col>
</colgroup>
<thead>
<tr>
<th>文件</th>
<th>编辑</th>
</tr>
</thead>
<tbody>
<% for(file in files){ %>
<tr>
<td><a target="_blank" onclick="openimg('${sitePath}file/image/${file.id}.jpg')">${file.url}</a></td>
<td><a class="layui-btn layui-btn-small" onclick="delimg('${file.id}')">删除</a></td>
</tr>
<% } %>
</tbody>
</table>
</div>
</blockquote>
</div>
<script>
layui.use('upload', function(){
  var upload = layui.upload;
   
  //执行实例
  var uploadInst = upload.render({
    elem: '#btn1' //绑定元素
    ,url: '/uploadindexfile' //上传接口
    ,done: function(res){
      if(res.isPass=="ok"){
    	  parent.loadPage('${sitePath}/sys/advertising.html');
      }else{
    	  layer.msg("上传失败!"); 
      }
    }
    ,error: function(){
     layer.msg("上传失败!");
    }
  });
});
var openimg=function(url){
	$("#img").attr("src",url);
	layer.open({
		 area: ['1200px', '600px'],
		  type: 1,
		  content: $('#img-temp')
		});
}
var delimg=function(id){
	layer.confirm('确定要删除？', {
		  btn: ['确定','取消'] //按钮
		}, function(){
			$.ajax({
				url :"${sitePath}sys/delimg?id="+id,
				dataType : "json",
				type : "post",
				success : function(res) {
					 if(res.isPass=="ok"){
						 layer.close(layer.index);
				    	  loadPage('${sitePath}/sys/advertising.html');
				      }else{
				    	  layer.close(layer.index);
				    	  layer.msg("删除失败!"); 
				      }
				}
			});
			
		}, function(){
			layer.close(layer.index);
		});
}
</script>

</html>