<ul class="c-plist js-hover">
	<% for(item in topics){%>
	<li class="item">
       <a class="t_img background-img"
		style="background-image: url(${imgUrl}${item.id}.jpg?t=${item.currVersion});"
		href="${sitePath}topic/${item.classify}/${item.id}.html" target="_blank">
		<a class="entry_num">${item.entryNum} 张</a>
		<a class="grade">${item.grade}</a>
		<% if(item.status==2){%>
        <a class="ready">预</a> 
        <%}%>
        <% if(item.status==0){%>
        <a class="ready">删</a> 
        <%}%>
        <% if(item.status==3){%>
        <a class="ready">违</a> 
        <%}%>
		<div class="tag">
				<div class="c_nav">
					<a href="${sitePath}u/${item.accountName}" target="_blank">
					<img src="${imgUrl}${item.createBy}.jpg?t=${version}"></a>
				</div>
				<div class="content">
					<div class="author">
						<a href="${sitePath}u/${item.accountName}" target="_blank">${item.author}</a>
						采集于 <a href="${sitePath}topic/${item.type}/index.html"
							target="_blank">${item.typeName}</a>
					</div>
					<div class="title">${item.title}</div>
				</div>
			</div></a>
	</li>
	 <%}%>
</ul>
