   <% if(isEmpty(topics) || topics.~size==0){ %>
   <span class="collect_null">还没有新的收藏哦</span>
  <% } else { %>
  <div class="box">
 <div class="collect_btn">${type}</div>
  <ul class="pic">
<% for(var topic in topics){%>
   <li class="p_li">
     <div class="p_img">
      <a href="${sitePath}topic/${topic.classify}/${topic.id}.html" target="_blank" style="display: inline-block;" >
		<div class="jqthumb" style="background-image: url(${imgUrl}${topic.id}.jpg?t=${topic.currVersion});"></div>
       </a>
       <a onclick="cancelCollectTopic(this)" data-id="${topic.id}" class="collect">取消收藏</a>
       <div class="desc">
	       <div class="title">【主题】${topic.title}</div> 
	       <div class="title"><span class="author">${topic.author}</span> <span class="time">彩于 ${topic.createTime,"yy年MM月dd日"}</span></div>
       </div>
       </div>
     </li>
  <% } %>
  </ul>
  </div>
    <% } %>