<div class="comment_panel">
	  <div id="middle_c" style="width:100%">
	   <ul id="c_list_${entry.id}">
	  <% for (comment in comments) {%>
		<li id="item_${comment.id}" class="item">
		 <div class="content_row">
		    <div class="c_nav">
		    <a data-id="${comment.id}" data-user="${comment.createBy}" data-author="${comment.author}"  onclick="focusU(this)">
			<img src="${headUrl}${comment.createBy}.jpg?t=${version}">
			</a>
			</div>
			<div class="c_content">
		     <div class="title">
			     <div>
				     <span style="font-size:15px">${comment.author}</span>
				      <% if(commentLP.first){%>
				      <span class="newest">最新</span>  
				     <% }%>
				     <span style="margin-left: 20px">${comment.dayNumFromCurrentDay}</span>
				     <%
				     var grade=(comment.grade)/20;
				     %>
				     <span class="star_${grade}"> </span>
				     
			     </div>
			    <div class="praise_row">
			      <a class="praise_title">${comment.endorse}</a>
			      <a href="javascript:;" data-id="${comment.id}" class="praise-img"></a>
			    
			      <% if(isNotEmpty(login) && (login==comment.createBy)) {%>
			      <a href="javascript:;" data-id="${comment.id}" class="remove-img" onclick="removeComment(this)"></a>
			       <%}%>
			    </div>
		     </div>
		     <div class="content">
		          ${comment.content}
		     </div>
			</div>
		 </div>
		 <% 
		 if (isNotEmpty(comment.replys)){
		 for (reply in comment.replys) {%>
		  <div class="content_row">
			<div class="c_content_right">
				 <div class="title">
				     <span style="font-size:15px">${reply.replyTo}</span>
				     <span style="margin-left: 20px">${reply.dayNumFromCurrentDay}</span>
				     <span style="margin-left: 20px">
				     </span>
			     </div>
				  <div class="content">
			      ${reply.content}
			     </div>
			</div>
			<div class="c_nav">
			 <a data-id="${reply.commentId}" data-user="${comment.createBy}" data-author="${reply.author}"   onclick="focusU(this)">
			<img  src="${headUrl}${reply.createBy}.jpg?t=${version}">
			</a>
			</div>
		 </div>
		 <%}}%>
		 </li>
		<%}%>
	     <% if(page<totalPageNum) { %>
		 <li id="more_page" style="width: 100%;padding: 10px 0;text-align: center;">
		   <a class="more_btn" onclick="commentPage('${entry.id}',${page+1})">查看更多说说</a>
		 </li>
		 <%}%>
		 </ul>
	 	 </div>
	 </div>