<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<% include("/common/include.html"){} %>
<script type="text/javascript" charset="utf-8" src="${sitePath}/js/carousel_1.js"></script>
<link href="${sitePath}styles/main.css" rel="stylesheet" type="text/css">
<link href="${sitePath}styles/carousel-style.css" rel="stylesheet" type="text/css">

<title>最美-${topicTypeTitle}</title>
 
</head>
<body>
<%
include("/common/header.html"){}
%>

<div id="container" class="content">
    <ul class="col" id="1">
    </ul>
    <ul class="col" id="2">
    </ul>
    <ul class="col" id="3">
    </ul>
    <ul class="col" id="4">
    </ul>
     <ul class="col" id="5">
    </ul>
</div>

<%
include("/common/footer.html"){}
%>
</body>
 <script type="text/javascript">
 $().ready(function(){
	 initScreenWidth("container",function(){
		 if(window.screen.width>1500){
			 $("#container").append("<ul class=\"col\" id=\"6\"></ul>");
		 } 
	 });
 });
 
$(function(){
	var range = 10;             
    var maxnum = Math.ceil(${total}/range);//设置加载最多次数
    var loading = true;
    var n = 1;
    loadTopic(null,true);
    loadTopic(n);
	function loadTopic(pageIndex,isTop){
		var url_;
		if(pageIndex){
			url_="${sitePath}topic/page?type=${topictype}&page="+pageIndex;
		}
		if(isTop){
			url_="${sitePath}topic/page?type=${topictype}&top=is";
		}
		 $.ajax({
		     url : url_,
		     dataType :"json",
		     async:false,
		     data:{},
		     method : "post",
		     beforeSend:function(XMLHttpRequest){
	        },
		     success : function(data) {
		    		for(var i=0;i<data.length;i++){
		    			var li,a,img,div;
		    			li =$("<li></li>");
		    			$div=$("<div class=\"p_img\">");
		    		    a=$("<a class=\"ts\" href=\"${sitePath}topic/${topic.classify}/"+data[i].id+".html\" target=\"_blank\"></a>");
		    		    img=$("<img src=\"${sitePath}topic/image/s/"+data[i].id+".png\" style=\"height:"+data[i].imgHeight+"px\">");
		    		    div=$("<div class=\"tag\">"+
			    				   "<div class=\"c_nav\">"+
			    					"<a href=\"${sitePath}u/"+data[i].accountName+"\" target=\"_blank\"><img   src=\"${sitePath}u/image/"+data[i].createBy+"\"></a>"+
			    					"</div>"+
			    					"<div class=\"content\">"+
			    					 "<div class=\"author\"><a href=\"${sitePath}u/"+data[i].accountName+"\" target=\"_blank\">"
			    					 +data[i].author+"</a> 采集于 <a href=\"${sitePath}topic/"+data[i].type+"/index.html\" target=\"_blank\">"+data[i].typeName+"</a></div>"+
			    					 "<div class=\"title\">"+data[i].title+"</div>"+
			    					"</div>"+
			    				"</div>"); 
		    		    entry_num=$("<a class=\"entry_num\">"+data[i].entryNum+" 张</a>");
		    		    grade=$("<a class=\"grade\">"+data[i].grade+"</a>");
		    		    a.append(img);
		    		    a.append(entry_num);
		    		    a.append(grade);
		    		    $div.append(a).append(div);
		    		    li.append($div);
		    		    loadHoverFun(li);
				    	$minUl = getMinUl();
				    	$minUl.append(li);
				    	li.fadeIn(2500);
		    		}
		    		if(pageIndex){
		    			n++;//计数
		    		}
		    		 // 重置加载flag
	    	        loading = true;
		     },error:function(XMLHttpRequest, textStatus, errorThrown){
		     }
		 }); 
	}
	$(window).on("scroll",function(){
		// 如果正在加载，则退出
			if(n>maxnum){
				$(window).unbind('scroll');
				return;
			}
	       $minUl = getMinUl();
		  if($minUl.height() <= $(window).scrollTop()+$(window).height()){
			  if (loading) {
			loading=false;
		    //当最短的ul的高度比窗口滚出去的高度+浏览器高度大时加载新图片
			loadTopic(n,null);
		   }
	   }
	});
	function getMinUl(){//每次获取最短的ul,将图片放到其后
		var $arrUl = $("#container .col");
		var $minUl =$arrUl.eq(0);
		$arrUl.each(function(index,elem){
			if($(elem).height()<$minUl.height()){
				$minUl = $(elem);
			}
		});
		return $minUl;
	}
})
</script>
<script type="text/javascript">
var loadHoverFun=function(li){
    	$(li).on({
    	    mouseenter:function(){
       	      $(this).find(".entry_num").animate({opacity:1},200);
       	      $(this).find(".grade").animate({opacity:1},200);
    	    },
    	    mouseleave:function(){
       	      $(this).find(".entry_num").animate({opacity:0},200);
       	      $(this).find(".grade").animate({opacity:0},200);
    	    }
    	});
}
</script>
</html>