<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="${sitePath}js/layui/css/layui.css">
<script type="text/javascript" charset="utf-8" src="${sitePath}js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="${sitePath}js/layui/layui.js"></script>
<script type="text/javascript" charset="utf-8" src="${sitePath}js/site/regular.js"></script>
<script type="text/javascript" charset="utf-8" src="${sitePath}js/crypto/crypto-js.js"></script>
<script type="text/javascript" charset="utf-8" src="${sitePath}js/crypto/encrypt.js"></script>
<style>
 body{
    box-sizing: border-box;
    font-family: "微软雅黑",Arial,sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #555;
 }
 .layui-form-item{
  width: 500px;
 }
 .layui-form-text{
  width:100%;
 }
 .disabled-btn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #ddd;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
 .red {
  color: #FF0000;
 }
 .error{
  border: solid 1px #FF0000;
 }
</style>
</head>
<body style="padding: 0 5px 20px 5px">
<div class="layui-tab layui-tab-brief" lay-filter="">
  <ul class="layui-tab-title">
    <li class="layui-this">会员资料</li>
    <li>密码管理</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
     <div class="layui-form">
   <blockquote class="layui-elem-quote layui-quote-nm"  style="position: relative;">
      <div style="position: absolute;right: 5px;top:5px;display: inline-block;padding: 5px;text-align: center;">
      <div style="background-color: #eee;padding: 2px;display: inline-block;border-radius: 2px">
       <img id="header_img" src="${headUrl}${user.id}.jpg?v=${version}" style="width: 80px;height: 80px">
       </div>
       <div style="margin-top: 5px">
       <button type="button" class="layui-btn" id="userimg" onclick="showUserHeader()">
           <i class="layui-icon">&#xe67c;</i>上传照片
       </button>
       </div>
      </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">用户名<span class="red">*</span></label>
	    <div class="layui-input-block">
	      <input id="user_name" type="text" style="background-color:#eee" name="title" disabled  lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="${user.accountName}">
	    </div>
	  </div>
 
	  <div class="layui-form-item" style="width: 800px">
	    <label class="layui-form-label">昵称<span class="red">*</span></label>
	    <div class="layui-input-inline" style="width: 390px">
	      <input id="nick_name" maxlength="10" style="background-color:#eee" type="text" name="title" disabled  lay-verify="required" placeholder="请输入你的昵称" autocomplete="off" class="layui-input"  value="${user.nickname}">
	    </div>
	    <div class="layui-form-mid layui-word-aux"></div>
	  </div>
	<div class="layui-form-item">
	    <label class="layui-form-label">性别<span class="red">*</span></label>
	    <div class="layui-input-block">
	      <input type="radio" lay-filter="sex-filter" name="sex" value="0" title="男" ${user.sex==0?"checked":""}>
	      <input type="radio"  lay-filter="sex-filter"name="sex" value="1" title="女" ${user.sex==1?"checked":""}>
	    </div>
	  </div>
	</blockquote>
	 <blockquote class="layui-elem-quote layui-quote-nm">
	  <div class="layui-form-item">
	    <label class="layui-form-label">手机<span class="red">*</span></label>
	    <div class="layui-input-block">
	      <input id="mobile" type="text" style="background-color:#eee" disabled maxlength="11" name="title" required  lay-verify="required" placeholder="请输入你的手机号码" autocomplete="off" class="layui-input"  value="${user.mobile}">
	    </div>
	  </div>
     <div class="layui-form-item">
	    <label class="layui-form-label">邮箱</label>
	    <div class="layui-input-block">
	      <input id="email" type="text" maxlength="30" name="title" required  lay-verify="required" placeholder="请输入你的邮箱" autocomplete="off" class="layui-input"  value="${user.email}">
	    </div>
	  </div>
	   <div class="layui-form-item">
	    <label class="layui-form-label">QQ</label>
	    <div class="layui-input-block">
	      <input id="qq" type="text" maxlength="20" name="title" required  lay-verify="required" placeholder="请输入你的QQ号码" autocomplete="off" class="layui-input"  value="${user.qq}">
	    </div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">微信</label>
	    <div class="layui-input-block">
	      <input id="wechat" type="text" maxlength="20" name="title" required  lay-verify="required" placeholder="请输入你的微信号码" autocomplete="off" class="layui-input" value="${user.wechat}">
	    </div>
	  </div>
	  </blockquote>
 <blockquote class="layui-elem-quote layui-quote-nm">	  
  <div class="layui-form-item" style="width:100%">
    <label class="layui-form-label">地址<span class="red">*</span></label>
    <div>
     <div class="layui-inline">
      <select id="province" name="province" lay-filter="province-filter" lay-verify="required">
        <option value=""></option>
        <% for(var p in provinces) {
          if(user.province==p.areaCode){%>
         <option value="${p.areaCode}" selected>${p.areaName}</option>
         <% }else{%>
        <option value="${p.areaCode}">${p.areaName}</option>
        <% }} %>
      </select>
    </div>
     <div class="layui-inline">
      <select id="city" name="city" lay-filter="city-filter"  lay-verify="required">
       <% if(isNotEmpty(user.city)){ %>
       <option value="${user.city}">${user.cityName}</option>
       <% } %>
      </select>
    </div>
     <div class="layui-inline">
      <select id="area" name="area" lay-filter="area-filter" lay-verify="required">
         <% if(isNotEmpty(user.area)){ %>
       <option value="${user.area}">${user.areaName}</option>
       <% } %>
      </select>
    </div>
     </div>
  </div>
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">介绍<span class="red">*</span></label>
    <div class="layui-input-inline" style="width: 610px">
      <textarea id="desc" maxlength="300" style="resize:none" name="desc" placeholder="请输入你的个人介绍" class="layui-textarea">${user.desc}</textarea>
    </div>
    <div class="layui-form-mid layui-word-aux">不能输入特殊字符</div>
  </div>
  <div class="layui-form-item" style="text-align: left;width: 100%">
  <button class="layui-btn" style="width:120px;margin-left: 110px" onclick="saveUser(this)">保存</button>
  <button class="layui-btn layui-btn-primary" style="width:80px" onclick="closewin()">关闭</button>
  </div>
   </blockquote>
   </div>
  </div>
   <div class="layui-tab-item">
   <blockquote class="layui-elem-quote layui-quote-nm">	  
   <div class="layui-form">
    <div class="layui-form-item">
    <label class="layui-form-label">原密码</label>
    <div class="layui-input-inline">
      <input type="password" id="old_password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
    <div id="old_msg" class="layui-form-mid layui-word-aux"></div>
   </div>
   <div class="layui-form-item">
    <label class="layui-form-label">新密码</label>
    <div class="layui-input-inline">
      <input  id="new_password" type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
    <div id="new_msg" class="layui-form-mid layui-word-aux"></div>
   </div>
   <div class="layui-form-item">
    <label class="layui-form-label">确认密码</label>
    <div class="layui-input-inline">
      <input id="confirm_password" type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
    <div id="confirm_msg" class="layui-form-mid layui-word-aux"></div>
   </div>
   <div class="layui-form-item">
	    <label class="layui-form-label">手机<span class="red">*</span></label>
	    <div class="layui-input-inline">
	     <input id="check_mobile" type="text" disabled maxlength="11" name="title" required  lay-verify="required" placeholder="请输入你的手机号码" autocomplete="off" class="layui-input"  value="${user.mobile}">
	    </div>
	  </div>
    <div class="layui-form-item" style="width: 800px">
     <label class="layui-form-label">验证码<span class="red">*</span></label>
     <div class="layui-input-block">
     <input id="rc" maxlength="4"  name="rc" type="text" class="layui-input" style="width: 100px;padding-right:5px;float:left "placeholder="验证码">
     <img id="regimg"  style="width:150px;height:50px;cursor: pointer;" src="${sitePath}securitycode" onclick="toimg()">
  </div>
    <div id="confirm_msg" class="layui-form-mid layui-word-aux"></div> 
  </div>
   
   <div class="layui-form-item" style="text-align: left;width: 100%;">
  	<button class="layui-btn" style="width:120px;margin-left: 110px" onclick="savePassWord(this)">保存</button>
  	<button class="layui-btn layui-btn-primary" style="width:80px" onclick="closewin()">关闭</button>
  </div>
   </div>
    </blockquote>
   </div>
</div>      
</body>
<input id="user_id" type="hidden" value="${user.id}">
<script>
var sex_=0;
var province_="${user.province}",city_="${user.city}",area_="${user.area}";
layui.use(['form','element'], function(){
  var form = layui.form;
  var element = layui.element;
  form.on('select(province-filter)', function(data){
	  province_=data.value;
	  $.ajax({
		     url : "${sitePath}user/queryarea",
		     dataType :"html",
		     async:true,
		     data:{code:data.value},
		     method : "post",
		     beforeSend:function(XMLHttpRequest){
	        },
		     success : function(html) {
		    	 $("#city").html("");
	    		 $html=$(html);
		    	 $("#city").append($html);  
		    	 form.render('select');	 
		     },error:function(XMLHttpRequest, textStatus, errorThrown){
		    	 if(XMLHttpRequest.status==500){
	 	    		 layer.msg(XMLHttpRequest.responseText);
	 	    	 }
	 	     }
	  });
  });
  form.on('select(city-filter)', function(data){
	  city_=data.value;
	  $.ajax({
		     url : "${sitePath}user/queryarea",
		     dataType :"html",
		     async:true,
		     data:{code:data.value},
		     method : "post",
		     beforeSend:function(XMLHttpRequest){
	        },
		     success : function(html) {
		    	 $("#area").html("");
	    		 $html=$(html);
		    	 $("#area").append($html);  
		    	 form.render('select');	 
		     },error:function(XMLHttpRequest, textStatus, errorThrown){
		    	 if(XMLHttpRequest.status==500){
	 	    		 layer.msg(XMLHttpRequest.responseText);
	 	    	 }
	 	     }
	  });
  });
  form.on('select(area-filter)', function(data){
	  area_=data.value;
  })
  form.on('radio(sex-filter)', function(data){
	  sex_=data.value; //被点击的radio的value值
	});  
});

var foucusError=function(id,msg){
	$("#"+id).addClass("error");
	if(msg){
		layer.msg(msg);
	}
	return false;
}

var saveUser=function(btn){
	$("input").removeClass("error");
	$("textarea").removeClass("error");
 
	var email_=$("#email").val();
 	if(email_.length>0){
		if(!isEmail(email_)){
			foucusError("email","邮箱格式错误!");
			return false;
		} 
	}
	
	var qq_=$("#qq").val();
	if(qq_.length>0){
		 if(!isQQ(qq_)){
			foucusError("qq","QQ号码格式错误!");
			return false;
		}  
	}
	
	var wechat_=$("#wechat").val();
	if(wechat_.length>0){
		 if(!isWeChat(wechat_)){
			foucusError("wechat","微信号码格式错误!");
			return false;
		}  
	}
	
	if(province_.length==0 || city_.length==0){
		layer.msg("省市必须选择哦!");
		return false;
	}
	
	var desc_=$("#desc").val();
	if(desc_.length==0){
		foucusError("desc","个人介绍不能为空哦!");
		return false;
	}
	
	if(desc_.length>300){
		foucusError("desc","个人介绍只能在300字内哦!");
		return false;
	}
	
	 desc_=stripScript(desc_);
	 desc_=replaceSpacing(desc_);
	 desc_=replaceRandN(desc_);
	 $.ajax({
	     url : "${sitePath}user/up",
	     dataType : "json",
			data :{sex:sex_,province:province_,city:city_,area:area_,email:email_,qq:qq_,wechat:wechat_,desc:desc_},
			method : "get",
			success : function(json) {
				if (json.isPass == "ok") {
					layer.msg(json.msg);
					$(btn).addClass("layui-btn-disabled");
					$(btn).attr("disabled","disabled");
				} else {
					var info = json.warn;
					layer.msg(info);
				}
			},error:function(XMLHttpRequest, textStatus, errorThrown){
		    	 if(XMLHttpRequest.status==500){
	 	    		 layer.msg(XMLHttpRequest.responseText);
	 	    	 }
	 	     }
			});
}

var closewin = function() {
	var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
	parent.layer.close(index); //再执行关闭   
}

function toimg(){
	 $("#regimg").attr("src","${sitePath}securitycode?temp="+ (new Date().getTime().toString(36)));
	 $("#rc").val("");
	 return false;
}
function savePassWord(btn){
	$("input").removeClass("error");
	var mobile_=$("#check_mobile").val();
	var rcode=$("#rc").val().toLowerCase();
	var old_password=$("#old_password").val();
	var new_password=$("#new_password").val();
	var confirm_password=$("#confirm_password").val();
	
	if(old_password.length==0){
		foucusError("old_password","原密码不能为空哦!");
		return false;
	}
	if(new_password==old_password){
		foucusError("new_password","原密码与新密码不能相同!");
		return false;
	}
	if(new_password.length==0){
		foucusError("new_password","新密码不能为空哦!");
		return false;
	}else{
		var l=new_password.length;
		if(l<8||l>16){
			foucusError("new_password","密码在8至16位之间!");
			return false;
		}
		if(isSpace(new_password)==true){
			foucusError("new_password","密码不能包含空格!");
			return false;
		}
		if(isPasswd(new_password)==false){
			foucusError("new_password","密码格式为头尾字母或数字,中间可包含特殊字符!");
			return false;
		}
	}
	if(confirm_password.length==0){
		foucusError("confirm_password","确认密码不能为空哦!");
		return false;
	}
	if(new_password!=confirm_password){
		foucusError("confirm_password","确认密码与新密码不相同!");
		return false;
	}
	
	if(rcode.length==0){
		layer.msg("验证码不能为空!");
		return false;
	}
	var os_=encrypt(old_password+";"+new_password,repairKey(rcode.toLowerCase(),"q"));
	 $.ajax({
	     url : "${sitePath}user/uppass",
	     dataType : "json",
			data :{mobile:mobile_,os:os_,reg:rcode},
			method : "post",
			success : function(json) {		
				if (json.isPass == "pass") {
					layer.msg("更新用户密码成功!");
					$(btn).addClass("layui-btn-disabled");
					$(btn).attr("disabled","disabled");
				} else {
					var info = json.warn;
					layer.msg(info);
				}
			},error:function(XMLHttpRequest, textStatus, errorThrown){
				var info=jQuery.parseJSON(XMLHttpRequest.responseText);
				layer.msg(info.warn);
		     }});
}
</script>

<script type="text/javascript">
var showUserHeader = function(id) {
	layer.open({
		id : "box",
		type : 2,
		title : " ",
		closeBtn : 1, //不显示关闭按钮
		shadeClose : false,
		shade: [0.6,'#ddd'],
		fixed : true,
		maxmin: false,
		resize : false,
		area : [ '620px', '450px' ],
		anim : 0.5,
		content : ["${sitePath}user/header?userid=${user.id}", 'yes' ], //iframe的url，no代表不显示滚动条
		end : function() { //此处用于演示 
		},
		success : function(layero, index) {
		}
	})
};
 function loadHeaderImg(){
  $("#header_img").attr("src",'${headUrl}${user.id}.jpg?v='+Math.random()*1000);
 }

</script>
</html>
			