<div class="footer">
	<div class="footer_wrap">
	<div class="column logo"></div>
	<div class="column about"><h3>关于</h3>
	<p class="description">
	分享你的最美  寻找你的所爱  最自由的美丽主题图文分享站</p>
	<span class="cute">源自人生的每一个精彩瞬间</span>
	</div>
	<div class="column core">
	<h3>声明</h3>
	<ul class="links">
	<li><a target="_blank" href="${sitePath}statement.html">服务协议</a></li>
	<li><a target="_blank" href="${sitePath}statement.html?#legal_notice">投诉声明</a></li>
	<li><a target="_blank" href="${sitePath}statement.html?#privacy">隐私权</a></li>
	</ul>
	</div>
	<div class="column community"><h3>联系</h3><ul class="links">
	<li><a onclick="showEmail('1000000')">站内信</a></li>
	<li>
	</li>
	<li><a onclick="showEmail('2000000')" target="_blank">举报</a></li>
	</ul>
	</div>
	</div>
</div>