.main{
   padding: 10px;
  }
  .layui-btn-small {
    line-height: 28px;
}
.openfileicon {
    background: url("/images/edit/folder-open.png") no-repeat left 2px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    padding:2px 2px 2px 25px;
    line-height: 19px;
	}
	.uploadicon {
    background: url("/images/edit/upload.png") no-repeat left 3px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    padding:2px 2px 2px 25px;
    line-height: 20px;
	}
	 .mask {
            position: absolute;
            top: 0px;
            filter: alpha(opacity=90);
            background-color: #fff;
            z-index: 1002;
            left: 0px;
            opacity: 0.9;
            -moz-opacity: 0.9;
            display: none;
            text-align: center;
        }
        .sr-only {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.layui-btn-group{
margin-top: 5px
}
.layui-btn-group label{
line-height: 32px;
}
.input-group {
    border-collapse: separate;
    display: flex;
    display: -webkit-flex;
    flex-direction:row ;
}
.input-group-addon {
    background-color: #eee;
    border: 1px solid #ccc;
    color: #555;
    font-size: 14px;
    max-width: 100%;
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
}
.right{
 border-radius: 2px 0 0 2px;
 border-right: 0 none;
}
.left{
 border-radius:0 2px 2px 0;
 border-left: 0 none;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    height: 22px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    z-index: 2;
    border-radius: 0;
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.clearfix{
 clear: both;
}
 .row{
 padding: 20px;
 }
 .panel{
  margin: 20px;
  background-color: #ddd;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
 }
 body {
 background-color: #f1f1f1;
 }
 .publishicon {
   background: url("/images/edit/publish.svg") no-repeat left 4px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    padding:2px 10px 2px 25px;
    line-height: 20px;
 }
  .carouselicon{
    background: url("/images/edit/carousel.svg") no-repeat left 1px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    padding:2px 10px 2px 25px;
    line-height: 20px;
 }
 .delicon{
   background: url("/images/edit/del.svg") no-repeat left 2px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    padding:2px 10px 2px 25px;
    line-height: 20px;
 }
 .p-btn{
  background-color: #666;
 }
  .layui-btn-group+.layui-btn-group {
    margin-left: 5px;
}