* {
	box-sizing: border-box;
	font-family: "微软雅黑", Arial, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0.05em;
}
input,textarea{outline:none;}
body {
	background-image: url(about:blank); /* for IE6 */
	background-attachment: fixed; /*必须*/
	background-color: #fcfcfc;
}

ul {
	list-style: outside none none;
}

a {
	text-decoration: none;
	color: #444;
	cursor: pointer;
}
  p {text-indent:2em}   
  
  h1, h2, h3 {
  display: inline-block;
  }
.logo {
	padding: 0 10px 0 10px;
	display: inline-block;
	width: 130px;
	height: 60px;
	background: rgba(0, 0, 0, 0) url("/images/ico/logo-3.png") no-repeat
		scroll left center;
}

.head {
	background-color: #fff;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	box-shadow: 0 0 2px 0px rgba(128,128,128, 0.6);
	-webkit-box-shadow: 0 0 2px 0px rgba(128,128,128, 0.6);
	-moz-box-shadow: 0 0 2px 0px rgba(128,128,128,0.6);
}

.head ul:FIRST-CHILD {
	overflow: hidden;
	font-size: 0;
	height: 60px;
	position: relative;
	top: 0;
	transition: top 0.1s ease-out 0s, opacity 0.1s ease-out 0s;
}

.head  ul:FIRST-CHILD li {
	float: left;
	height: 60px;
	line-height: 50px; transition : none 0s ease 0s;
	list-style: outside none none;
	transition: none 0s ease 0s;
}
.head ul:LAST-CHILD{
	overflow: hidden;
	font-size: 0;
	height: 60px;
	position: relative;
	top: 0;
	transition: top 0.1s ease-out 0s, opacity 0.1s ease-out 0s;
}

.head  ul:LAST-CHILD li {
	float: right;
	height: 60px;
	line-height: 50px; transition : none 0s ease 0s;
	list-style: outside none none;
	transition: none 0s ease 0s;
}
.head ul li a {
	display: inline-block;
	overflow: hidden;
	font-size: 14px !important;
	color: #7B7B7B !important;
	text-decoration: none;
	white-space: nowrap;
	padding: 5px 10px;
}
.head ul li .vip_level {
	background: rgba(0, 0, 0, 0) url("../images/ico/vip1.svg") no-repeat scroll left 13px;
	display: inline-block;
	overflow: hidden;
	font-size: 12px !important;
	font-weight:600;
	color: #7B7B7B !important;
	text-decoration: none;
	white-space: nowrap;
	padding: 3px 0 0 18px;
}
.head ul li a:HOVER {
	color: #EA0000 !important;
}

.head .spacer {
	width: 5px;
}
 .u_head {
	background-color: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.u_head ul:FIRST-CHILD {
	overflow: hidden;
	font-size: 0;
	height: 60px;
	position: relative;
	top: 0;
	transition: top 0.1s ease-out 0s, opacity 0.1s ease-out 0s;
}

.u_head  ul:FIRST-CHILD li {
	float: left;
	height: 60px;
	line-height: 50px; transition : none 0s ease 0s;
	list-style: outside none none;
	transition: none 0s ease 0s;
}
.u_head ul:LAST-CHILD{
	overflow: hidden;
	font-size: 0;
	height: 60px;
	position: relative;
	top: 0;
	transition: top 0.1s ease-out 0s, opacity 0.1s ease-out 0s;
}

.u_head  ul:LAST-CHILD li {
	float: right;
	height: 60px;
	line-height: 50px; transition : none 0s ease 0s;
	list-style: outside none none;
	transition: none 0s ease 0s;
}
.u_head ul li a {
	display: inline-block;
	overflow: hidden;
	font-size: 14px !important;
	color: #fff !important;
	text-decoration: none;
	white-space: nowrap;
	padding: 5px 10px;
}
.u_head ul li .vip_level {
	background: rgba(0, 0, 0, 0) url("../images/ico/vip1.svg") no-repeat scroll left 13px;
	display: inline-block;
	overflow: hidden;
	font-size: 12px !important;
	font-weight:600;
	color: #fff !important;
	text-decoration: none;
	white-space: nowrap;
	padding: 3px 0 0 18px;
}
.u_head ul li a:HOVER {
	color: #EA0000 !important;
}

.u_head .spacer {
	width: 5px;
}
.u_head .email_p{
padding-left:30px !important;
background: rgba(0, 0, 0, 0) url("/images/ico/email2.svg") no-repeat scroll 5px center;
}
.u_head .set {
    padding-left: 30px !important;
    background: rgba(0, 0, 0, 0) url(/images/ico/set.svg) no-repeat scroll 5px center;
}
#content{
	width: 100%;height:500px;position: relative;clear:both;overflow: hidden;
}
.search-input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #555;
    height: 36px;
    line-height: 1.42857;
    padding: 6px 12px;
    width: 500px;
}
 .s_btn{
  display: inline-block;
  position: absolute;
  right:1px;
  top:8px; 
  width:34px;
  height:34px;
  border:none;
  cursor:pointer;
  background: rgba(0, 0, 0, 0) url("/images/ico/search-s.svg") no-repeat scroll center center;
 }
.icon{
 width: 18px;
 height: 18px;
 position:absolute;
 left:5px;
 top: 5px;
 fill: #bfbfbf;
}
.icon:HOVER {
	fill:#A9A9A9;
}
.spacer {
 padding: 15px 0;
}
.spacer a{

 height: 30px;
 border-left: 1px solid #bfbfbf;
}
.email_p{
padding-left:30px !important;
background: rgba(0, 0, 0, 0) url("/images/ico/email2.svg") no-repeat scroll 5px 18px;
}
.set{
padding-left:30px !important;
background: rgba(0, 0, 0, 0) url("/images/ico/set.svg") no-repeat scroll 5px center;
} 
.login_u{
padding-left:30px !important;
background: rgba(0, 0, 0, 0) url("/images/ico/login_user.png") no-repeat scroll 5px center;
}
.footer {
	display: block;
	background-color: #fff;
	width: 100%;
}

.footer .footer_wrap {
	margin: 0 auto;
	overflow: hidden;
	padding: 40px 10px;
	width: 1200px;
	clear: both;
}

.footer .footer_wrap .column.logo {
	width: 130px;
}

.footer .footer_wrap .column {
	display: inline-block;
	float: left;
	margin-left: 40px;
	text-align: left;
}

.footer .footer_wrap .column.logo img {
	height: auto;
	width: 80px;
}

.footer .footer_wrap .column.about {
	width: 350px;
}

.footer .footer_wrap .column.about .description {
	margin-bottom: 20px;
}

.footer .footer_wrap .column.about .cute {
	color: #71767a;
	font-size: 12px;
}

.footer .footer_wrap .column.core {
	width: 200px;
}

.footer .footer_wrap .column.core h3 {
	text-transform: none;
}

.footer .footer_wrap .column h3 {
	color: #525558;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 1em;
}

.footer .footer_wrap .column.community {
	width: 200px;
}

.footer .footer_wrap .column.join .wrap {
	line-height: 0;
}

.footer .footer_wrap .column.join a {
	display: inline-block;
	line-height: 0;
	margin-bottom: 10px;
	text-align: left;
	background: transparent none repeat scroll 0 0;
}

.footer .footer_wrap .column.join a img {
	height: 40px;
	width: auto;
}
.links li{
	padding: 2px 0;
}
.nav-panel {
	margin-top: 60px;
	width: 100%;
	overflow: hidden;
}

.share-panel {
	padding: 5px 10px;
	display: inline-block;
	width: 500px;
	position: absolute;
	left: 0;
	overflow: hidden;
}
.share-div {
	display: flex; 
	align-items: center;
	white-space: nowrap;
	width: 500px;
}
.share-panel span {
	display: inline-block;
	padding: 1px 5px;
}

.share-panel a {
	display: inline-block;
	padding: 1px 5px;
	line-height: 18px;
}

  .grade {
     background: rgba(74, 74, 74, 0.6) url("/images/ico/star_s.png") no-repeat scroll 5px center;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 5px 10px 5px 25px;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 90;
    opacity: 0;
}
  .entry_num {
    background: rgba(74, 74, 74, 0.6) none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 5px 10px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 90;
    opacity: 0;
}
  .ready {
    background: rgba(220,220,220,0.9) none repeat scroll 0 0;
    border-radius: 3px;
    color: #FF0000;
    font-size:15px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 5px 10px;
    position: absolute;
    right: 15px;
    bottom: 80px;
    z-index: 190;
}
.tag .c_nav {
	padding: 5px;
	text-align: center;
	width: 70px;
}
.tag .c_nav a{
	display:inline-block; 
}
.tag .c_nav img {
	display: inline-block;
	height: 60px;
	width: 60px !important;
}

.tag  .content {
	width: 100%;
	height: 70px;
	color: #989898;
}

.tag  .content a {
	color: #FF8000;
	text-decoration: none;
}
.tag .content .tags {
	display: flex;
	justify-content: space-between;
}
 .tag .content .ttags {
	display: inline-block;
	width: 100%;
}
 
.tag .content .author {
	width: 100%;
	padding: 3px 2px 2px 3px;
	display: flex;
	justify-content:space-around;
}
.tag .content .author .type {
  display: inline-block;
}
.tag .tdesc{
	width: 100%;
	height: 35px;
	overflow: hidden;
}
.p_img .title {
	width: 100%;
	padding:2px;
	white-space :norma nowrap;
	overflow: hidden;
	color: #666;
}
.tags .star {
	display:inline-block;
	padding: 2px 5px 2px 18px;
	line-height: 17px;
	background: rgba(0, 0, 0, 0) url("../images/ico/star_d.svg") no-repeat
		scroll left 2px;
}
.tags .collect {
	display:inline-block;
	padding: 2px 5px 2px 18px;
	background: rgba(0, 0, 0, 0) url("../images/ico/collect-d.svg")
		no-repeat scroll left center;
		line-height: 17px;
  }
.tags .transpond {
	display:inline-block;
	padding: 2px 5px 2px 18px;
	background: rgba(0, 0, 0, 0) url("../images/ico/transpond.svg")
		no-repeat scroll left center;
		line-height: 17px;
  }
  #userbox{
   border-top: solid 1px #ddd;
   box-sizing: border-box;
  }
  #header #s_panel{
  margin-top: 10px; width: 600px; padding: 2px; display: flex; background: rgba(34, 139, 34, 0.3) none repeat scroll 0 0;
  }
  #header #s_panel #s_c{
  border: none; padding: 5px 5px 5px 10px; height: 38px; width: 500px; font-size: 13px; color: #555
  }