<% for (email in emails) {
if (email.fromAccount==parseLong(toUserId)){
%>
<li style="display: none">
<div class="right">
	   <div class="item">
	   <div class="pager">
	      <span class="email">${email.createTimeString}</span>${email.message}
	   </div>
	   </div>
	    <a class="rightuser"><img src="${headUrl}${toUserId}.jpg"></a>
</div>
</li>
<% } %>
<% if (email.fromAccount==parseLong(fromUserId)){ %>
<li style="display: none">
<div class="left">
   <a class="leftuser"><img src="${headUrl}${fromUserId}.jpg"></a>
	   <div class="item">
		   <div class="pager">
		      <span class="email">${email.createTimeString}</span>${email.message}</div>
	   </div>
</div>
</li>
<% } 
}

if (isend==false) { %>
<li style="text-align: center;">
 <a id="page_btn" onclick="histoyEmail(${page})" class="nextpage">... 查看更多 ...</a>
</li>
<% } %>

<% if(!isNotEmpty(emails) && emails.~size==0) { %>
<li style="text-align: center;">
 <a id="page_btn"   class="nextpage">... 还没有来信 ...</a>
</li>
<% } %>
